$hero-bg: #EAEEEF;
$white: #FFFFFF;
$black: #201B21;
$dark-grey: #67696E;
$footer-text: #D9DBE1;
$line-light-grey: #E9EBEE;
$pale-green: #A7C6BA;
$orange: #EC5E2A;
$title-height: 48px;
$hover: #333;

$headerHeight: 64px;
$footerHeight: 72px;
$smallScreenFooterHeight: 128px;