.carousel {
  margin: 0 auto;
  display: inline-block;

  .slick-slider {
    position: relative;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slick-slide {
  max-width: 100%; // <-- Set max-width here
  margin: 0 auto;
  position: relative;
  display: flex; // <-- Added to center the image
  justify-content: center; // <-- Added to center the image
}

.slick-slide img {
  width: 100%;
  height: auto;
}
