@import '../../styles/variables.scss';

.carousel {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slickSlide {
  img {
    max-height: 311px;
    align-self: center;
  }
}
