.carousel {
  height: 100%;
  border-radius: 20px;
  //padding-bottom: 70px;
  //padding-bottom: 200px;
  //.slick-dots:;

  @media (max-width: 1008px) {
    height: 25%;
    padding-bottom: 0;
  }

  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

  }
  .slickSlide {
    img {
      max-height: 311px;
      align-self: center;
      // height: auto;
    }
  }
}
