@import '../../styles/variables.scss';
.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

  .loadingText {
    font-size: 2rem;
    font-weight: 500;
    color: #{$orange}; 
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
  }
}

