@import '../../styles/variables.scss';

.header {
  height: 64px;
  background-color: #{$white};
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 4px #{$line-light-grey};
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.viewCartButton {
  width: 10rem;
  height: 2.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    background-color: #{$line-light-grey};
  }
}

.buttonText {
  margin-left: .5rem;
  text-decoration: none !important;
}