@import '../styles/variables.scss';
$breakpoint: 768px; // Adjust this as per your design's breakpoint

.mainContent {
  width: 80%;
  margin: 0 auto;
}

.shoppingCartPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-top: 2rem;
  width: 100%;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column-reverse;
  }
}

.yourBag {
  width: 55%; 

  @media screen and (max-width: $breakpoint) {
    width: 100%;
  }
}
.summaryContainer {
  box-shadow: 0 4px 4px 2px #{$line-light-grey};
  width: 35%; 
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $breakpoint) {
    width: 100%;
  }
}

.summaryWrapper {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItemList {
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  justify-content: space-between;
 
    border-bottom: 1px solid black;
  padding: 2rem 0 2rem 0;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
  }
}

