.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem; 
  height: 2.25rem; 
  padding-right: 2.5rem;

  &:hover {
    color: initial !important;
    border-color: initial !important;
  }

  .buttonText {
    margin-left: 8px;
  }
}

.badge {
  .ant-badge-count {
    width: 10px;
    height: 10px;
    line-height: 10px;
  }
}
