@import '../../styles/variables.scss';

.main {
  min-height: 100%;
  width: 100%;
  display: flex;
  padding-top: #{$headerHeight};
  padding-bottom: 100px;
  background-color: #{$white};
  justify-content: center;
  align-items: stretch;
  overflow: auto;

  @media (max-width: $breakpoint-small) {
    padding-bottom: #{$smallScreenFooterHeight};
  }
}

