@import '../../styles/variables.scss';

.main {
  min-height: calc(100% - #{$footerHeight} - #{$headerHeight});
  width: 100%;
  display: flex;
  padding-top: #{$headerHeight};
  padding-bottom: #{$footerHeight};
  background-color: #{$white};
  justify-content: center;
  align-items: center;
  overflow: auto;

  @media (max-width: 767px) {
    min-height: calc(100% - #{$smallScreenFooterHeight} - #{$headerHeight});
    padding-bottom: #{$smallScreenFooterHeight};
  }

  .mainContent {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      width: 65%; 
    }

    @media (max-width: 620px) {
      width: 90%; 
    }
  }
}

