@import '../../styles/variables.scss';

$headerHeight: 64px;
$footerHeight: 72px;

.main {
  width: 100vw;
  flex: 1;
  height: calc(100vh - #{$footerHeight} - #{$headerHeight});
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #{$white};
  justify-content: center;
  align-items: center;
  margin-top: #{$headerHeight};
}

.mainContent {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

   @media (max-width: 1000px) {
    width: 95%; 
  }
}
