@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import './styles/variables.scss';

.homePage {
  display: flex;
  height: 100%;
  width: 80%;
  padding: 4rem 0 6rem 0;
  overflow: scroll;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: $breakpoint-large) {
    padding: 2rem 0 0 0;
  }

  @media (max-width: $breakpoint-small) {
    align-items: center;
  }
}

.title {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

  @media (max-width: $breakpoint-large) {
    font-size: 1.5rem;
  }
}
