.main {
  --header-height: 64px;
  --footer-height: 50px;

  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: lightblue;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%; 
}

