@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import '../../styles/variables.scss';

.advertisement {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  border-radius: 40px;
  background-color: #{$hero-bg};

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    padding: 1rem 0;
    height: 400px;
    width: 80%;
  }

  .adCopy {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    line-height: 1.5;

    @media (max-width: 767px) {
      align-items: center;
      padding: 0;
    }
  }

  .percent,
  .title,
  .description {
    font-family: 'DM Sans', sans-serif;
  }

  .percent {
    color: #{$orange};
    font-size: 3rem;

    @media (max-width: 1300px) {
      font-size: 2rem;
    }

    @media (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  .title {
    color: #{$black};
    font-size: 4rem;

    @media (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }

  .description {
    color: #{$black};
    font-size: 1.25rem;

    @media (max-width: 1300px) {
      font-size: 1rem;
    }
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    width: 80%;
    border-radius: 40px;

    @media (max-width: 1100px) {
      width: 350px;
    }

    @media (max-width: 767px) {
      width: auto;
      height: 200px;
    }
  }
}
