@import '../../styles/variables.scss';

.contentContainer {
  margin: 2rem 0 5rem 0;
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;

  @media (max-width: 1008px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 80%;
  }

  .carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    @media (max-width: 1008px) {
      width: 100%;
    }
  }

  .addToCartContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #{$white};
    box-shadow: 0 4px 4px 2px #{$line-light-grey};
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .addToCart {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

      @media (max-width: 1008px) {
      height: 18.75rem;
      width: 70%;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .infoContainer .title {
    font-size: 24px;
    font-weight: 600;
  }

  .infoContainer .price {
    font-size: 18px;
    font-weight: 400;
  }

  .addToCartButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  .descriptionContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .descriptionWrapper {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: flex-start;
  }

  .description {
    margin-top: 20px;
    font-size: 18px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #e9ebee;
  }

  .text {
    line-height: 24px;
    font-size: 1rem;
    font-weight: 400;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      @media (min-width: 1500px) {
        width: 30vw;
        height: auto;
        align-items: flex-start;
      }
    }
  }
}